<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task4</title>
    <link rel="stylesheet" th:href="@{/css/task4/task4.css}">
</head>
<body>
<form th:object="${task4}" th:action="@{/task4}" th:method="post">
    <div class="container">
        <span class="member">1 учасник: </span>
        <div>
            <div>
                <span class="member">X1: </span>
                <input type="text" placeholder="Координата Х" th:field="*{x1}">
            </div>
            <span class="member">Y1: </span>
            <input type="text" placeholder="Координата Y" th:field="*{y1}">
        </div>
        <span class="member">2 учасник: </span>
        <div>
            <div>
                <span class="member">X2: </span>
                <input type="text" placeholder="Координата Х" th:field="*{x2}">
            </div>
            <span class="member">Y2: </span>
            <input type="text" placeholder="Координата Y" th:field="*{y2}">
        </div>
        <span class="member">3 учасник: </span>
        <div>
            <div>
                <span class="member">X3: </span>
                <input type="text" placeholder="Координата Х" th:field="*{x3}">
            </div>
            <span class="member">Y3: </span>
            <input type="text" placeholder="Координата Y" th:field="*{y3}">
        </div>
        <button class="btn" type="submit">Розрахувати</button>
        <img class="image" th:src="@{/image/task4/task4.jpg}">
        <textarea class="result" rows="30" th:text="${result}">Результат</textarea>
    </div>
</form>
</body>
</html>