<div th:fragment="settingsFragment">
    <main id="main">
        <div class="container-fluid mt-4 ms-2">
            <form>
                <div style="display: inline-flex;  flex-wrap: wrap; gap: 20px; width: 100%;">
                    <div style="width: 33%; margin: 0 0 0 10px;">
                        <text class="h3" style="font-size: 30px;">RSA p = </text>
                        <input  type="text" style="width: 150px;  margin: 10px 0 0 0; font-size: 30px; border: 2px solid black;">
                    </div>
                    <div style="width: 30%; margin: 0 0 0 10px;">
                        <text class="h3" style="font-size: 30px;">q = </text>
                        <input  type="text" style="width: 150px;  margin: 10px 0 0 0; font-size: 30px; border: 2px solid black;">
                    </div>
                    <div style="width: 30%; font-size: 30px;  margin: 0 0 0 10px;">
                        <text >e = </text>
                        <input  type="text" style="width: 150px;  margin: 10px 0 0 0; font-size: 30px; border: 2px solid black;">
                    </div>
                </div>
                <p >
                <p style="font-size: 30px;  margin: 0 0 0 10px;">Розшифрувати повідомлення  <text >С = </text>
                        <input  type="text" style="width: 150px;  margin: 10px 0 0 0; font-size: 30px; border: 2px solid black;"></p>
                        <p >
                <p style="font-size: 30px;  margin: 0 0 0 10px;">Підписати повідомлення  <text >М = </text>
                        <input  type="text" style="width: 150px;  margin: 10px 0 0 0; font-size: 30px; border: 2px solid black;">
                        <button type="submit" style="width: 250px; margin: 15px 0 0 10px; font-size: 30px;">Розрахувати</button></p> 
                        <textarea style="width: 90%; height: 55%; margin: 5%; border: 2px solid black;"></textarea>                   
            </form>
            </div>
    </main>
</div>  