.list {
    padding: 0;
}

.list-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.label {
    font-size: 40px;
}

.input {
    margin-left: 10px;
    height: 30px;
    width: 50%;
    font-size: 27px;
}

.numberInput {
    margin-left: 10px;
    width: 80px;
    height: 35px;
    font-size: 27px;
}

.select {
    width: 80px;
    height: 35px;
    font-size: 30px;
}

.result {
    height: 1000px;
    width: 100%;
    font-size: 25px;
}

.btn {
    height: 100px;
    width: 250px;
    font-size: 40px;
}